<h4>Genre Info</h4>
<div class="col-md-9">
  <h2><%= @genre.title %></h2>
  <div class="well">
    <p><%= @genre.description %></p>
  </div>
</div>

<div class="col-md-3">
  <%= link_to 'Edit', edit_genre_path(@genre.id), class:"btn btn-info" %>
  <%= link_to 'Delete', genre_path(@genre), class:"btn btn-info", method: :delete,
              data:{confirm: "Are you sure?"} %>
  <hr>
  <strong>List of books for this genre:</strong>
  <ul>
    <% @genre_books.each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>
</div>

