<h1>All authors</h1>
<%= link_to 'New Author', new_author_path, class:"btn btn-default" %>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Bio</th>
            <th>Actions</th>
		</tr>
	</thead>
	<tbody>
        <% @authors.each do |author| %>
		<tr>
			<td><%= author.name %></td>
			<td><%= author.bio %></td>
            <td>
              <%= link_to 'View', author_path(author) %>
              <%= link_to 'Edit', edit_author_path(author) %>
              <%= link_to 'Delete', author_path(author), method: :delete,
                          data: {confirm: "Are you sure?"}%>
            </td>
		</tr>
        <% end %>
	</tbody>
</table>