<div class="row" style="margin-bottom: 20px">
  <div id="carousel-id" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-id" data-slide-to="0" class=""></li>
      <li data-target="#carousel-id" data-slide-to="1" class=""></li>
      <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item">
        <%= image_tag "/uploads/1", height: '300' %>
        <div class="container">
          <div class="carousel-caption">
            <h2>Divergent.</h2>
            <%= link_to 'Browse books', list_books_path, class:"btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag "/uploads/3", height: '300' %>
        <div class="container">
          <div class="carousel-caption">
            <h2>No.1 Bestseller series</h2>
            <%= link_to 'Browse books', list_books_path, class:"btn btn-primary" %>
          </div>
        </div>
      </div>
      <div class="item active">
        <%= image_tag "/uploads/2", height: '300' %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Twilight series</h1>
            <%= link_to 'Browse books', list_books_path, class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
<div class="row">

  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item active">List of genres</li>
      <% @genres.each do |genre| %>
          <%= link_to genre.title, show_genre_path(genre),class:"list-group-item" %>
      <% end %>
    </ul>

  </div>

  <div class="col-md-9">
    <div class="row">
      <strong>Latest Books</strong>
      <hr>
      <% @latest_books.each do |book| %>
          <div class="col-md-3 book">
            <%= link_to image_tag("/uploads/books/#{book.id}", height: '300'), show_book_path(book) %> <br>
            <p>Rating: <%= book.rating %></p>
            <strong><%= number_with_precision book.price, :precision => 2 %> soms</strong>
          </div>
      <% end %>
    </div>
    <div class="row">
      <strong>Top Rated Books</strong>
      <hr>
      <% @top_rated_books.each do |book| %>
          <div class="col-md-3 book">
            <%= link_to image_tag("/uploads/books/#{book.id}", height: '300'), show_book_path(book) %> <br>
            <p>Rating: <%= book.rating %></p>
            <strong><%= number_with_precision book.price, :precision => 2%> soms</strong>
          </div>
      <% end %>
    </div>
  </div>
</div>