
<h3><%= @book.title %><small> by <%= link_to @book.author.name, show_author_path(@book.author.id) %></small></h3>

<div class="col-md-4">
  <%= image_tag "/uploads/books/#{@book.id}", height: '400' %>
</div>
<div class="col-md-8">
    <strong><%= link_to @book.genre.title, show_genre_path(@book.genre) %></strong><br>
    <strong>Price: <%= @book.price %></strong>
  <div class="well well-book">
    <p><%= @book.description %></p>
  </div>
</div>
