<%= form_for @book do |f| %>

    <% if @book.errors.any? %>
        <div class="errors">
          Total errors: <%= @book.errors.count %>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label 'Book title' %>
      <%= f.text_field :title, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label 'Book Description' %>
      <%= f.text_area :description, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label 'Price' %>
      <%= f.number_field :price, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label 'Book\'s author' %><br />
      <%= f.collection_select :author_id, Author.all, :id, :name,{}, class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label 'Book\'s genre' %><br />
      <%= f.collection_select :genre_id, Genre.all, :id, :title,{}, class:"form-control" %>
    </div>


    <div class="form-group">
      <%= f.label 'Book\'s cover' %>
      <%= f.file_field :picture, class:"form-group" %>
    </div>

    <div>
      <%= f.submit class:"btn btn-primary" %>
    </div>

<% end %>