<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'BookStore', root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Home', root_path %></li>
            <li class="<%= 'active' if current_page?(list_books_path) %>"><%= link_to 'Books', list_books_path %></li>
            <li class="<%= 'active' if current_page?(list_authors_path) %>"><%= link_to 'Authors', list_authors_path %></li>
            <li class="<%= 'active' if current_page?(list_genres_path) %>"><%= link_to 'Genres', list_genres_path %></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

</body>
</html>
